BAM/SRR13765633_1Aligned.sortedByCoord.out.bam filter=lfs diff=lfs merge=lfs -text
BAM/SRR13765633_2Aligned.sortedByCoord.out.bam filter=lfs diff=lfs merge=lfs -text
BAM filter=lfs diff=lfs merge=lfs -text
